<div class="container-fluid">
    <div class="brand">
        <img src="../../../assets/logo/Logo51-01.png" alt="brand" width="100px" height="100px">
        <h3>Mingle</h3>
    </div>
    <div class="search-bar">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search People">
            <button class="btn" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
    <div class="nav-links">
        <button class="btn">
            <i class="bi bi-house icon-big"></i>
        </button>
        <button class="btn">
            <i class="bi bi-chat-left-dots icon-big"></i>
        </button>
        <button class="btn">
            <i class="bi bi-person icon-big"></i>
        </button>
        <button class="btn">
            <i class="bi bi-bell icon-big"></i>
        </button>
        <button class="btn">
            <i class="bi bi-power icon-big"></i>
        </button>
    </div>
</div>